/* Pour GitHub Pages */
.cv-image {
    background: url('/E_portfolio/img/cv.png') no-repeat center center;
    background-size: contain;
}

.porto1-image {
    background: url('/E_portfolio/img/porto1.png') no-repeat center center;
    background-size: contain;
}

.porto2-image {
    background: url('/E_portfolio/img/porto2.png') no-repeat center center;
    background-size: contain;
}

/* Pour Local */
.cv-imageLocal {
    background: url('img/cv.png') no-repeat center center;
    background-size: contain;
}

.porto1-imageLocal {
    background: url('img/porto1.png') no-repeat center center;
    background-size: contain;
}

.porto2-imageLocal {
    background: url('img/porto2.png') no-repeat center center;
    background-size: contain;
}
